<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel del Administrador</title>
    <link rel="stylesheet" th:href="@{/css/panel.css}">
    <link rel="stylesheet" th:href="@{/css/reporte_detalle.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="dashboard-container admin">

    <div id="loader" class="loader-overlay">
        <div class="loader"></div>
    </div>

    <aside class="sidebar">
        <div class="sidebar-header">
            <div class="welcome-title-animated">
                <span>Bienvenido</span>
            </div>
            <div class="usuario-info">
                <div class="usuario-inicial"></div>
                <div class="details">
                    <div class="nombre" th:text="${usuario.nombre}"></div>
                    <div class="rol" th:text="${usuario.rol}"></div>
                </div>
            </div>
        </div>
        <nav class="sidebar-menu">
            <div class="menu-item menu-item-animated active" th:attr="data-view='/admin/fragmento/inicio'">
                <img th:src="@{/images/inicio.png}" alt="Inicio" loading="lazy">
                <span>Inicio</span>
            </div>
            <div class="menu-item menu-item-animated" th:attr="data-view='/admin/fragmento/lista-reportes'">
                <img th:src="@{/images/icono-list.png}" alt="Ver" loading="lazy">
                <span>Ver reportes</span>
            </div>
            
            <div class="menu-item menu-item-animated"
                th:attr="data-view='/reportes/fragmento/explorar'">
                <img th:src="@{/images/lupa.png}" alt="Explorar" loading="lazy">
                <span>Explorar reportes</span>
            </div>

            <div class="menu-item menu-item-animated" th:if="${usuario.email == 'adminMain@gmail.com'}" th:attr="data-view='/admin/fragmento/formulario-admin'">
                <img th:src="@{/images/icono-registro.png}" alt="Crear" loading="lazy">
                <span>Crear administrador</span>
            </div>
        </nav>
        <div class="sidebar-footer">
            <button class="logout-btn-animated" onclick="logout()">
                <div class="sign">
                    <img th:src="@{/images/icono-logout.png}" alt="Salir" loading="lazy">
                </div>
        <div class="text">Salir</div>
        </div>
    </button>
</div>
    </aside>

    <main class="content" id="content-area"> </main>
    <div class="filtro-overlay" id="filtroOverlay" onclick="toggleFiltroPanel()"></div>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/reporte_detalle.js}" defer></script>
</body>
</html>