<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel del Ciudadano</title>
    <link rel="stylesheet" th:href="@{/css/panel.css}">
    <link rel="stylesheet" th:href="@{/css/reporte_detalle.css}">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body class="dashboard-container usuario">

    <div id="loader" class="loader-overlay">
        <div class="loader"></div>
    </div>

    <aside class="sidebar">
        <div class="sidebar-header">
            <div class="welcome-title-animated">

                <span>Bienvenido</span>
            </div>
            <div class="usuario-info">
                <div class="usuario-inicial"></div>
                <div class="details">
                    <div class="nombre" th:text="${usuario.nombre}"></div>
                    <div class="rol" th:text="${usuario.rol}"></div>
                </div>
            </div>
        </div>
        <nav class="sidebar-menu">
            <div class="menu-item menu-item-animated active" th:attr="data-view='/usuario/fragmento/inicio'">
                <img th:src="@{/images/icono-list.png}" alt="Inicio" loading="lazy">
                <span>Inicio</span>
            </div>
            <div class="menu-item menu-item-animated" th:attr="data-view='/usuario/fragmento/formulario-reporte'">
                <img th:src="@{/images/icono-plus.png}" alt="Crear" loading="lazy">
                <span>Crear reporte</span>
            </div>
            <div class="menu-item menu-item-animated" th:attr="data-view='/usuario/fragmento/lista-reportes'">
                <img th:src="@{/images/icono-list.png}" alt="Ver" loading="lazy">
                <span>Ver reportes</span>
            </div>

            <div class="menu-item menu-item-animated"
                th:attr="data-view='/reportes/fragmento/explorar'">
                <img th:src="@{/images/lupa.png}" alt="Explorar" loading="lazy">
                <span>Explorar reportes</span>
            </div>

        </nav>
        <div class="sidebar-footer">
            <button class="logout-btn-animated" onclick="logout()">
                <div class="sign">
                    <img th:src="@{/images/icono-logout.png}" alt="Salir" loading="lazy">
                </div>
            <div class="text">Salir</div>
            </button>
        </div>
    </aside>

    <main class="content" id="content-area"></main>

    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/reporte_detalle.js}" defer></script>
    <script th:src="@{/js/formulario-reporte.js}" defer></script>
</html>